<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877892625400-gdne2nma7gphtctflnopg1thf0oujrud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877892625400-gdne2nma7gphtctflnopg1thf0oujrud</string>
	<key>API_KEY</key>
	<string>AIzaSyDzXkDk5mh4MXSlduADYjat_FetU0KeKdk</string>
	<key>GCM_SENDER_ID</key>
	<string>877892625400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yogaApp</string>
	<key>PROJECT_ID</key>
	<string>yoga-app-831a3</string>
	<key>STORAGE_BUCKET</key>
	<string>yoga-app-831a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877892625400:ios:42e2e5951952890de2ac0d</string>
</dict>
</plist>